<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='./css/style.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="./script.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Employee</title>
</head>
<body>
    <div class='sidenav'>         
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link " id="v-pills-home-tab" data-toggle="pill" href="./employees.html" role="tab" aria-controls="v-pills-home" aria-selected="true">Employee</a>
              <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="./addemployee.html" role="tab" aria-controls="v-pills-profile" aria-selected="false">Add Employee</a>
              <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="./account.html" role="tab" aria-controls="v-pills-messages" aria-selected="false">Account</a>
            </div>       
    </div>
    <div class='main'>
            <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                      <a class="navbar-brand" href="#">Add Employees</a>
                    </nav>
            </div>
        <table>
            <tr>
                <th>Firstname</th>
                <td><input type='text' id='fname'></td>
            </tr>
            <tr>
                    <th>LastName</th>
                    <td><input type='text' id='lname'></td>
            </tr>
            <tr>
                <th>Score</th>
                <td><input type='number' id='score'></td>
            </tr>
            <tr>
                <td><input type="checkbox" data-toggle="toggle" id='status'></td>
                <td><button id='submit'>Submit</button></td>
            </tr>
        </table>

     </div>


</body>
</html>